# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
Debug

#archivos varios
ConfigNodo.txt

#Archivos
Archivos

#cosas de jobs
weather

#log
log
*.log
*.cfg

#persistencia
Filesystem/archivos
Filesystem/directorios
Filesystem/nodos
Filesystem/registrosIDIP

#otros
.cproject

